#navbar {
    border-bottom: 4px solid #00BBF0;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 64px;
    color:white;
}

h3 {
    font-size: 24px;
}

.col-6 img {
    border: 3px solid #00204A;
}

.fixed-bg {
    background-image: url("imedia_media/DSC_1247.JPG");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .foot {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDB44B;
    color: white;
    height: 10%;
    transition: height 0.3s ease; 
    padding: 20px;
  }

.d{
    color:gray;
    font-size:14px;
}

.navbar-brand{
    font-weight: bold;
    color:#005792;
}