.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDB44B;
    color: white;
    text-align: left;
    height: 5%;
    overflow: hidden;
    transition: height 0.3s ease; 
    padding: 20px;
  }

  .navbar {
    border-bottom: 4px solid #00BBF0;
}