.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDB44B;
    color: #00204A;
    text-align: left;
    height: 5%;
    overflow: hidden;
    transition: height 0.3s ease; 
    padding: 20px;
  }

  .navbar {
    border-bottom: 4px solid #00BBF0;
}
.img-hover:hover {
  opacity: 0.8; 
  transition: opacity 0.3s ease;
  transform: scale(1.1); /* Adjust the scale factor for the desired enlargement */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}